:root{
    --AddText_color: #647382;
    --MainText_color: #000000;
}

#align{
    margin: 0 auto;
}

#logo{
    width: 5%;
    height: 5%;
}

.link{
    text-decoration: none;
    color: var(--MainText_color);
    font-size: 18px;
}

main{
    width: 90%;
}

p{
    font-family: 'Montserrat', sans-serif;
    color: var(--MainText_color);
    margin-bottom: 20px;
    margin-top: 10px;
}

.Main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    gap: 2%;
}

.Card{
    display: inline-flex;
    flex-direction: column;
}

#wikilogo{
    width: 10%;
    height: 10%;
}

#Selelogo{
    width: 10%;
    height: 10%;
}