:root{
    --AddText_color: #AAAAAA;
    --MainText_color: #000000;
    --Fclr: #FCBF49;
}

header{
    background-color: var(--Fclr);
}

#align{
    margin: 0 auto;
}

#logo{
    margin: 0 auto;
    margin-left: 50%;
    width: 10%;
    height: 10%;
}

.link{
    text-decoration: none;
    color: var(--MainText_color);
    font-size: 18px;
}

main{
    margin: 0 auto;
    width: 90%;
}

p{
    font-family: 'Montserrat', sans-serif;
    color: var(--MainText_color);
    margin-bottom: 20px;
    margin-top: 10px;
}

#add{
    text-align: center;
}

.Main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    gap: 2%;
}

.Card{
    display: inline-flex;
    flex-direction: column;
}

.Card:hover{
    border: 2px;
    background-color: var(--AddText_color);
}

#wikilogo{
    width: 10%;
    height: 10%;
}

#Selelogo{
    width: 10%;
    height: 10%;
}

footer{
    background-color: var(--Fclr);
}
